<!-- <div class="p-5 table-responsive"> -->
<!-- <table class="table table-striped table-bordered table-hover" *ngFor="let product of data">
    <thead>
      <tr>
        <th scope="col" center>id</th>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">description</th>
        <th scope="col">category</th>
        <th scope="col">images</th>
      </tr>
    </thead>
    <tbody class="table-striped-rows">
      <tr>
        <th>{{ registro.id }}</th>
        <td>{{ registro.title }}</td>
        <td>{{ registro.body }}</td>
        <th>{{ product.id }}</th>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.image }}s</td>
      </tr>
    </tbody>
  </table> -->
<!-- <table class="table table-striped table-bordered table-hover" *ngFor="let product of data">
        <thead>
        <tr>
            <th center>id</th>
            <th scope="col">title</th>
            <th scope="col">price</th>
            <th scope="col">description</th>
            <th scope="col">category</th>
            <th scope="col">images</th>
        </tr>
        </thead>
        <tbody class="section section-step">
        <tr class="sub-header">
        </tr>
        <tr>
            <th>{{ product.id }}</th>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.image }}s</td>
        </tr>
        </tbody>
  </table> -->
<!-- </div> -->

<div id="demo">
  <h1>Lista de Productos</h1>
  <div class="slider">
    <div class="slide-track">
      <div class="slide" *ngFor="let item of filterCategory">
        <img class="imagen-poster" [src]="item.images" height="100" width="150" />
      </div>
    </div>
  </div>
  <!-- Categories -->
  <div class="container-fluid">
    <div class="row">
      <h1>Lista de Categorias</h1>
      <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">        
        <div class="gallery">
          <img src="{{ item.image }}" width="200" height="150" />
          <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{ item.name }}</h5>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="container-fluid">  
  <div class="row">
    <h1>Nuestros Productos</h1>
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
      <div class="gallery">
        <img src="{{ item.images }}" width="400" height="250" />
        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{ item.title }}</h5>
        <p class="desc" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{ item.description }}</p>
        <p><strong>Price:</strong> ${{ item.price }}</p>
        <button class="btn btn-primary" (click)="addtoCarrito(item)">Add to cart</button>
      </div>
    </ng-container>
  </div>
</div>